<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments/navbar_footer_fragments.html :: navbar"></header>
    
<!--TABLE  -->
<div class="container-fluid p-3">
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">Nazwa</th>
      <th scope="col" style="width: 20%">Typ przegrody</th>
      <th scope="col" style="width: 20%">Wspólczynnik przenikania ciepła przegrody U [W/(m<sup>2</sup> * K)]</th>
      <th scope="col" style="width: 20%">Wspólczynnik oporu dyfuzyjnego przegrody (μ)</th>
      <th scope="col" style="width: 20%">Akcje</th>
    </tr>
  </thead>
  <tbody>
      <tr th:object="${composite}">
          <td th:text="*{name}">Beton</td>
          <td th:text="*{compositeType}">Typ przegrody</td>
          <td th:text="*{compositeHeatTransferCoefficient}">Wspołczynnik</td>
          <td th:text="*{compositeDiffusionResistance}">Wspołczynnik</td>
          <td>
              <div th:if="${principal}" class="btn-group" role="group" aria-label="actions">
                  <button type="button" class="btn btn-light">Edytuj</button>
                  <button type="button" class="btn btn-light">Usuń</button>
              </div>
          </td>
      </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
        <th colspan="6">Materiały</th>
    </tr>
  </thead>
  <tbody>
      <div th:each="compositeMaterial,iterMaterial: ${composite.compositeMaterials}" class="materialElement">
          <tr class="thead-light">
              <th scope="col" style="width: 5%">#</th>
              <th scope="col" style="width: 20%">Nazwa</th>
              <th scope="col" style="width: 20%">Wspólczynnik przewodzenia ciepła (λ)</th>
              <th scope="col" style="width: 20%">Wspólczynnik oporu dyfuzyjnego (μ)</th>
              <th scope="col" style="width: 20%">Kategorie</th>
              <th scope="col" style="width: 15%">Grubość [m]</th>
          </tr>
          <tr>
              <td th:text="${iterMaterial.count}"></td>
              <td th:text="${compositeMaterial.buildingMaterial.name}">Nazwa</td>
              <td th:text="${compositeMaterial.buildingMaterial.thermalConductivity}">Wspólczynnik przewodzenia ciepła (λ)</td>
              <td th:text="${compositeMaterial.buildingMaterial.steamTransferCoefficient}">Wspólczynnik oporu dyfuzyjnego (μ)</td>
              <td>
                    <p th:each="category: ${compositeMaterial.buildingMaterial.materialCategoryNames}" th:text="${category}">- Kotegorie</p>
              </td>
              <td th:text="${compositeMaterial.thickness}">grubość</td>
          </tr>
          <tr>
              <th colspan="3">Opór cieplny materiału</th>
              <th colspan="3">Opór dyfuzyjny materiału</th>
          </tr>
          <tr>
              <td colspan="3" th:text="${compositeMaterial.materialHeatResistance}">Opór cieplny materiału</td>
              <td colspan="3" th:text="${compositeMaterial.materialDiffusionResistance}">Opór dyfuzyjny materiału</td>
          </tr>
      </div>
  </tbody>
</table>
</div>
<!--TABLE  -->
<div th:insert="fragments/navbar_footer_fragments.html :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>