<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid row d-flex justify-content-center">
    <div class="container col col-md-4 col-sm-6 shadow p-3 mt-5 rounded">
        <div class="mb-5">
            <h3>Zaloguj się</h3>
        </div>
        <form action="/loginForm" th:action="@{/loginForm}" method="post" >
            <div class="form-group">
                <label for="usernameInput">Nazwa użytkownika</label>
                <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Użytkownik">
                <small class="form-text text-muted d-none"></small>
            </div>
            <div class="form-group">
                <label for="passwordInput">Hasło</label>
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Hasło">
                <small class="form-text text-muted d-none"></small>
            </div>

            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>

</div>

<div th:insert="fragments/navbar_footer_fragments.html :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>