<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>registration form</h2>
<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <input th:field="*{email}" type="email" placeholder="Email"><br>
    <p th:errors="*{email}">email errors</p>
    <input th:field="*{username}" type="text" placeholder="Username"><br>
    <p th:errors="*{email}">email errors</p>
    <input th:field="*{password}" type="password" placeholder="Password"><br>
    <p th:errors="*{password}">password errors</p>
    <input type="submit" value="register">
</form>
</body>
</html>